<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Firstname</th>
    <th>Adress</th>
    <th>Zip code</th>
    <th>City</th>
    <th>Phone</th>
    <th>Birth date</th>
    <th>Subscribe date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.firstname %></td>
    <td><%= member.adress %></td>
    <td><%= member.zip_code %></td>
    <td><%= member.city %></td>
    <td><%= member.phone %></td>
    <td><%= member.birth_date %></td>
    <td><%= member.subscribe_date %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
