<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Firstname:</b>
  <%= @member.firstname %>
</p>

<p>
  <b>Adress:</b>
  <%= @member.adress %>
</p>

<p>
  <b>Zip code:</b>
  <%= @member.zip_code %>
</p>

<p>
  <b>City:</b>
  <%= @member.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Birth date:</b>
  <%= @member.birth_date %>
</p>

<p>
  <b>Subscribe date:</b>
  <%= @member.subscribe_date %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
